<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF=8">
	<title>Idealisto Tasador</title>
</head>
<body>
<style>
div {
  background-image: url(static/images/gv.jpg);
}	
</style>
<div class="container">

<form id='submit_params' method="POST" action="{{ url_for('main') }}">
<div class="form-group">
<table class="table">
    <tr>
        <td><p style="text-align:center">
			<img src="static/images/idealisto.png" alt="idealisto" style='padding:1px; width: 70%; height: 70%'>
			</p>
		</td>
    </tr>
    <tr>
        <td>
            <table class="table">
				<tr>
					<br><br>
				</tr>
				<tr>
					<td style="text-align:right;color:honeydew" width="200px"><p><h3>Introduce los datos del inmueble</h3></p></td>
				<tr>
					<td style="text-align:right;color:honeydew"><label for="male">Address</label></td>
					<td><input type="search" class="form-control" id="fare"
						placeholder="Enter m2" name="s_address" value="{{s_address}}">
					</td>
				</tr>
				<tr>
                    <td style="text-align:right;color:honeydew"><label for="male">Meters</label></td>
                    <td><input type="number" class="form-control" id="fare"
                    	placeholder="Enter m2" name="s_sq_meters" value="{{s_sq_meters}}">
                    </td>
				</tr>
				<tr>
                    <td style="text-align:right;color:honeydew"><label for="male">Rooms</label></td>
                    <td><input type="number" class="form-control" id="fare"
                    	placeholder="Enter number of rooms" name="s_rooms" value="{{s_rooms}}">
                    </td>
				</tr>
				<tr>
                    <td style="text-align:right;color:honeydew"><label for="male">Bathrooms</label></td>
                    <td><input type="number" class="form-control" id="fare"
                    	placeholder="Enter number of bathrooms" name="s_bathrooms" value="{{s_bathrooms}}">
                    </td>
				</tr>
				<tr>
                    <td style="text-align:right;color:honeydew"><label for="male">Floor</label></td>
                    <td><input type="number" class="form-control" id="fare"
                    	placeholder="Enter the floor" name="s_floor" value="{{s_floor}}">
                    </td>
				</tr>
				<tr>
                    <td style="text-align:right;color:honeydew"><label for="male">Renewal needed</label></td>
                    <td>
                     <SELECT class="s_renewal_needed" name="s_renewal_needed">
				          <option value="{{s_renewal_needed}}" selected>{{s_renewal_needed}}</option>
				          <option>Yes</option>
				          <option>No</option>
				     </SELECT>
					</td>
				</tr>
				<tr>
                    <td style="text-align:right;color:honeydew"><label for="male">New development</label></td>
                    <td>
                     <SELECT class="s_new_development" name="s_new_development">
				          <option value="{{s_new_development}}" selected>{{s_new_development}}</option>
				          <option>Yes</option>
				          <option>No</option>
				     </SELECT>
					</td>
				</tr>
				<tr>
                    <td style="text-align:right;color:honeydew"><label for="male">Lift</label></td>
                    <td>
                     <SELECT class="s_lift" name="s_lift">
				          <option value="{{s_lift}}" selected>{{s_lift}}</option>
				          <option>Yes</option>
				          <option>No</option>
				     </SELECT>
					</td>
				</tr>
				<tr>
                    <td style="text-align:right;color:honeydew"><label style="color:honeydew" for="male">Exterior</label></td>
                    <td>
                     <SELECT class="s_exterior" name="s_exterior">
				          <option value="{{s_exterior}}" selected>{{s_exterior}}</option>
				          <option>Yes</option>
				          <option>No</option>
				     </SELECT>
					</td>
				</tr>
				<tr>
                    <td style="text-align:right;color:honeydew"><label for="male">Parking</label></td>
                    <td>
                     <SELECT class="s_parking" name="s_parking">
				          <option value="{{s_parking}}" selected>{{s_parking}}</option>
				          <option>Yes</option>
				          <option>No</option>
				     </SELECT>
                </tr>
				<td style="text-align:right;"><button class="btn btn-default" type="submit" style="width: 100px; height: 30px;">Tasar</button></td><td></td><td></td>
				<tr>
				<td style="text-align:right;color:honeydew" width="200px"><p style="text-align:center"><h2>{{y_prob}}</h2></p></td>
				</tr>
			</table>
        </td>
		<td>

        	<p style="text-align:center">
				<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1h-z5Pzoo-wa7YGUKSqQr4ZKZXYmG2fwc&center=-3.70,40.39563&zoom=18" width="1200" height="600"></iframe>
			</p></td>
  
    <tr>
</table>
</div>
</form>

</div>
</body>
</html>
